main{
	/*margin-top: 15%;*/
	margin-bottom: 15%;
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 4fr 9fr;
    grid-template-areas: 
	"mainpic"
	"section"; 
	  }

  
section{
	grid-area:section;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr repeat(2,4fr);
	grid-template-areas: 
	"projectTitle"
	"information1"
	"information2";
}


#mainPic{
	grid-area: mainpic;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height:100%;
}

.bg-image {
	grid-row:1;
	grid-column: 1;
/*  filter: blur(8px);
  -webkit-filter: blur(8px);*/
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color: #000;

}


.bg-text {
	display: flex;
	align-content: center;
	justify-content: center;
	align-self: center;
	justify-self:center;
	flex-flow: column;
	grid-row:1;
	grid-column: 1;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	z-index: 2;
	width: 40%;
	height:25%;
	padding: 20px;
	text-align: center;
}

@media only screen and (max-width: 767px){
.bg-text{
	width:80%;
	height:25%;
}
}

#information1, #information2, #information3{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
}

#projectTitle{
	grid-area:projectTitle;
	display:flex;
	justify-content: center;
	align-items: center; 
}

#projectTitle h1{
color:#000;
}

#information1{
	grid-area:information1;
	grid-template-areas: 
	"I1image" 
	"I1text";
}

#information1Text{
	grid-area:I1text;
}

#information1Image{
	grid-area:I1image;

}

#information2{
	grid-area:information2;
	grid-template-areas: 
	"I2image" 
	"I2text";
}

#information2Text{
	grid-area:I2text;
}

#information2Image{
	grid-area:I2image;

}

#information3{
	grid-area:information3;
	grid-template-areas: 
	"I3image" 
	"I3text";
}


#information3Text{
	grid-area:I3text;
}

#information3Image{
	grid-area:I3image;

}

#information1Image figure, #information2Image figure, #information3Image figure{
padding:0;
margin:0;
height:auto;
width:100%;
/*display:flex;
align-items: center;
justify-content: center;*/
}

#information1Image figure > img, #information2Image figure > img, #information3Image figure > img{
	width: 100%;
	height: 100%;
}

#information1Image figure, #information2Image figure, #information3Image figure{
display: flex;
justify-content: center;
align-content: center;
}

#information1Text, #information2Text, #information3Text, 
#information1Image, #information2Image, #information3Image{
	display: flex;	
    align-content: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 5%;


}

#information1Text a, #information2Text a, #information3Text a{
	text-decoration: none;

}


#information1Text, #information2Text, #information3Text, .frontPageText{
    /*background-color: #2a2a2a;*/

}

#information1Text h2, #information2Text h2, #information3Text h2{
    text-align: center !important;
color:#000;
}

.frontPage h2{
 text-align: left !important;
}

#information1Text p, #information2Text p, #information3Text p,#information1Image p, #information2Image p, #information3Image p{
	color:#000;
}

@media only screen and (min-width: 1080px){
main{
	padding-top: 4%;
	grid-template-rows: 9fr 13fr;
	grid-row-gap: 1%;
	margin-bottom: 10%;

}

#information1, #information2, #information3{
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1%;
}

#information1Text h2, #information2Text h2, #information3Text h2{
    text-align: left !important;
}

#information1{
	grid-template-areas: 
	"I1text I1image";
}

#information2{
	grid-template-areas: 
	"I2image I2text";
}

#information3{
	grid-template-areas: 
	"I3text I3image" !important;
}

#mainPic figure{
  width: 100%;
  margin:0;
}

}

.homepage{
	border: none;
	background-color: transparent;
	z-index: 2;
	width: 80%;
	height:100%;
	padding: 20px;
	text-align: center; 
}

.homepage h3{
		text-align: center !important; 

}

.homepage h1{
	text-transform: uppercase;
	background: url("../Images/curacao.jpg") no-repeat;
    font-size: 200px !important;
    font-weight: 1000;
    background-position: center top;
    background-size: 60% 60%;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media only screen and (max-width: 767px){
	.homepage h1{
		font-size: 100px !important;
	    background-size: 600px 600px;

	}
}
.case_link{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: row;

}

.case_link a{
	display: flex;
	align-items: center;
	color:#000;
}

.case_link a:hover{
	color:#99BADD;
}

/*.case_link a:after{
  font: normal normal normal 18px/36px Ionicons;
content:"\f30f";
padding-left: 2%;
}*/
