@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
body,
p,
a,
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-family: "DM Sans", serif;
  text-align: left;
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  line-height: 3;
  color: #000;
  padding: 0;
}
@media (max-width: 767px) {
  h1 {
    font-family: "DM Sans", serif;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: 2;
    color: #000;
  }
}

h2 {
  font-family: "DM Sans", serif;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  line-height: 2.5;
  color: #000;
}
@media (max-width: 767px) {
  h2 {
    font-family: "DM Sans", serif;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 2.5;
    color: #000;
  }
}

h3 {
  font-family: "DM Sans", serif;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 2.2;
  color: #000;
}
@media (max-width: 767px) {
  h3 {
    font-family: "DM Sans", serif;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 2.2;
    color: #000;
  }
}

h4 {
  font-family: "DM Sans", serif;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  line-height: 2;
  color: #3B6068;
}
@media (max-width: 767px) {
  h4 {
    font-family: "DM Sans", serif;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 2;
    color: #3B6068;
  }
}

body,
p,
a {
  text-justify: inter-word;
  font-family: "DM Sans", serif;
  text-align: justify;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  color: #1d1d1d;
}
@media (max-width: 767px) {
  body,
  p,
  a {
    font-family: "DM Sans", serif;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 2;
    color: #1d1d1d;
  }
}

p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #EE6457;
}
a:hover {
  color: #f9c48A;
}
a:visited {
  color: #EE6457;
}
a:visited:hover {
  color: #f9c48A;
}

#work-two, #work-four, #work-six, #work-eight, #work-one, #work-three, #work-five, #work-seven, #work-title .bg-text h2, .navbar .navbar-header {
  padding: 0px 36.5px;
}
@media (min-width: 768px) {
  #work-two, #work-four, #work-six, #work-eight, #work-one, #work-three, #work-five, #work-seven, #work-title .bg-text h2, .navbar .navbar-header {
    padding: 0px 80px;
  }
}
@media (min-width: 1024px) {
  #work-two, #work-four, #work-six, #work-eight, #work-one, #work-three, #work-five, #work-seven, #work-title .bg-text h2, .navbar .navbar-header {
    padding: 0px 138px;
  }
}
@media (min-width: 1366px) {
  #work-two, #work-four, #work-six, #work-eight, #work-one, #work-three, #work-five, #work-seven, #work-title .bg-text h2, .navbar .navbar-header {
    padding: 0px 139px;
  }
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  background-color: #fff;
  grid-template-areas: "header" "main";
}

/*-----------header------------*/
#header {
  grid-area: header;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  color: #fff;
}
@media (min-width: 768px) {
  #header {
    padding-top: 0px;
  }
}

.navbar {
  width: 100%;
  height: 50px;
  z-index: 999;
  top: 0;
}
.navbar .navbar-btn:focus,
.navbar .navbar-btn:hover,
.navbar .navbar-btn:active,
.navbar .navbar-btn {
  color: transparent;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}
.navbar #hamburgerIcon {
  position: relative;
  top: 1px;
  display: flex;
  flex-flow: row;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font: normal normal normal 24px/48px Ionicons;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar #hamburgerIcon:before {
  content: "\f2ca";
}
.navbar #hamburgerIcon:hover {
  color: #EE6457;
}
.navbar #hamburgerIcon:hover:before {
  color: #EE6457;
}
.navbar #hamburgerIcon h2 {
  padding-left: 5%;
  color: white;
}
.navbar #hamburgerIcon h2:hover {
  color: #EE6457;
}
.navbar .navbar-header {
  display: flex;
  flex-flow: row;
  justify-content: flex-start; /* align horizontal */
  align-items: center; /* align vertical */
  height: auto;
  width: 100%;
  background-color: #1d1d1d;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
}
.navbar #menu-button {
  grid-area: menu;
  display: flex;
  justify-content: flex-start; /* align horizontal */
  align-items: center; /* align vertical */
  color: #FFF;
}
.navbar:focus, .navbar:active {
  outline: 0;
}

/*----------------main---------------*/
main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "work-title" "work-one" "work-two" "work-three" "work-four" "work-five" "work-six" "work-seven" "work-eight";
}

#work-two, #work-four, #work-six, #work-eight, #work-one, #work-three, #work-five, #work-seven {
  display: flex;
  flex-flow: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  #work-two, #work-four, #work-six, #work-eight, #work-one, #work-three, #work-five, #work-seven {
    display: flex;
    flex-flow: row;
    justify-content: space-between; /* align horizontal */
    align-items: center; /* align vertical */
  }
}

#work-title {
  grid-area: work-title;
  height: 95vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1d1d1d;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 360px) {
  #work-title {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1280px) {
  #work-title {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
  }
}
#work-title .bg-text {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-flow: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  align-self: left;
  justify-self: left;
  z-index: 2;
  width: auto;
  height: auto;
  gap: 100px;
  padding: 50px;
}
@media (min-width: 768px) {
  #work-title .bg-text {
    gap: 50px;
  }
}
#work-title .bg-text h1 {
  padding: 0;
  text-align: left;
  color: #fff;
}
@media (min-width: 768px) {
  #work-title .bg-text h1 {
    background-size: 100% 100%;
  }
}
@media (min-width: 1024px) {
  #work-title .bg-text h1 {
    line-height: 2;
  }
}
#work-title .bg-text h2 {
  padding: 0;
  text-align: left;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
#work-title .bg-image {
  padding: 50px;
  grid-row: 1;
  grid-column: 2;
  width: auto;
  height: auto;
}

#work-one, #work-three, #work-five, #work-seven {
  background-color: #fff;
}

#work-two, #work-four, #work-six, #work-eight {
  background-color: #D8E6E9;
}
@media (min-width: 1024px) {
  #work-two, #work-four, #work-six, #work-eight {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between; /* align horizontal */
    align-items: center; /* align vertical */
  }
}

#work-one, #work-two, #work-three, #work-four, #work-five, #work-six, #work-seven, #work-eight {
  padding: 5% 20%;
}
#work-one .workLinks, #work-two .workLinks, #work-three .workLinks, #work-four .workLinks, #work-five .workLinks, #work-six .workLinks, #work-seven .workLinks, #work-eight .workLinks {
  justify-self: center;
  text-align: center;
}
#work-one p, #work-one a, #work-two p, #work-two a, #work-three p, #work-three a, #work-four p, #work-four a, #work-five p, #work-five a, #work-six p, #work-six a, #work-seven p, #work-seven a, #work-eight p, #work-eight a {
  text-align: left;
}
@media (min-width: 768px) {
  #work-one p, #work-one a, #work-two p, #work-two a, #work-three p, #work-three a, #work-four p, #work-four a, #work-five p, #work-five a, #work-six p, #work-six a, #work-seven p, #work-seven a, #work-eight p, #work-eight a {
    text-align: justify;
    text-justify: inter-word;
  }
}
#work-one a, #work-two a, #work-three a, #work-four a, #work-five a, #work-six a, #work-seven a, #work-eight a {
  font-weight: bold;
}
#work-one a:hover, #work-two a:hover, #work-three a:hover, #work-four a:hover, #work-five a:hover, #work-six a:hover, #work-seven a:hover, #work-eight a:hover {
  color: #6c91b8;
}
#work-one a:visited, #work-two a:visited, #work-three a:visited, #work-four a:visited, #work-five a:visited, #work-six a:visited, #work-seven a:visited, #work-eight a:visited {
  color: #cff4ff;
}
#work-one a:visited:hover, #work-two a:visited:hover, #work-three a:visited:hover, #work-four a:visited:hover, #work-five a:visited:hover, #work-six a:visited:hover, #work-seven a:visited:hover, #work-eight a:visited:hover {
  color: #6c91b8;
}
#work-one h2, #work-two h2, #work-three h2, #work-four h2, #work-five h2, #work-six h2, #work-seven h2, #work-eight h2 {
  line-height: 1.5;
}
#work-one .work-text, #work-two .work-text, #work-three .work-text, #work-four .work-text, #work-five .work-text, #work-six .work-text, #work-seven .work-text, #work-eight .work-text {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

/*-----------misc--------------*/
figure {
  display: flex;
  flex-flow: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
}
figure img {
  width: 100%;
  height: auto;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*-----------misc--------------*/
figure {
  display: flex;
  flex-flow: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
}
figure img {
  width: 100%;
  height: auto;
}

.flex-list {
  display: flex;
  flex-flow: column;
  list-style: disc;
  padding: 0;
  gap: 5px;
}

.O-flex-list {
  display: flex;
  flex-flow: column;
  list-style: decimal;
  padding: 0;
  gap: 5px;
}

.flex-list li, .O-flex-list li, .flex-list li ul li, .flex-list li ol li, .O-flex-list li ul li, .O-flex-list li ol li {
  list-style-position: inside; /* Ensures bullets are visible */
}

.flex-list li ul li, .flex-list li ul li, .flex-list li ol li, .O-flex-list li ul li, .O-flex-list li ol li {
  list-style-position: inside; /* Ensures bullets are visible */
  padding-left: 20px;
}

.wireframes {
  list-style: none !important; /* Remove default bullets from nested list */
  padding: 0;
}
.wireframes li {
  list-style: none;
}
.wireframes li:before {
  content: "✅ "; /* Add emoji before each nested list item */
  margin-right: 5px;
}

/*# sourceMappingURL=ProjectStyle.css.map */
