@import 'Fontstyle';

@mixin grid($rows,$columns){
  display:grid;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
}

@mixin flex($flow, $justify, $align){
  display: flex;
  flex-flow: $flow;
  justify-content: $justify; /* align horizontal */
  align-items: $align; /* align vertical */
}

%paddingContent{
padding: 0px 36.5px;
& {
  @include for-size(tablet-portrait-up){
  padding: 0px 80px;
}
}
& {
@include for-size(tablet-landscape-up){
  padding: 0px 138px;
}
}
& {
@include for-size(big-desktop-up){
  padding: 0px 139px;
}
}
}

$heroImageColor: #000;
$sectionColor: #fff;
$sectionAltColor: #D8E6E9;
$attentionColor: #3B6068;

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

html{
  height:100%;
}

body{
    @include grid(auto,1fr);
    background-color: #fff;
    grid-template-areas:
    "header"
    "main";
  
  }

  /*-----------header------------*/
  
  #header{
    grid-area:header;
    margin-left:auto;
    margin-right:auto;
    background-color: #000;
    color:#fff;  
    // padding-top:20px;
    @include for-size(tablet-portrait-up){padding-top:0px;}

  }

  .navbar{
    width:100%;
    height:50px;
    z-index:999;
    top: 0;
  
  
  
      .navbar-btn:focus,
      .navbar-btn:hover,
      .navbar-btn:active, 
      .navbar-btn {
        color: transparent; 
        text-decoration: none; 
        background-color: transparent;
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding:0;
        margin:0; 
      }
  
      #hamburgerIcon {
        position: relative;
        top: 1px;
        // display: inline-block;
        @include flex(row,center ,center );
        font: normal normal normal 24px/48px Ionicons;
        color:#fff;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    
        &:before {
          content: "\f2ca";
        }
    
        &:hover {
          &:before {
            color: $linkColor;
          }
          color: $linkColor;
        }
    
        h2{
            padding-left:5%;
            color:white;
            &:hover {
                color: $linkColor;
              }
        }
      }
  
      
      .navbar-header{
        @extend %paddingContent;
        @include flex(row,flex-start , center);
        height:auto;
        width: 100%;
        background-color: #1d1d1d;
        position: fixed;
        z-index: 9999;
        left:0;
        top:0;
      }
  
      #menu-button{
        grid-area:menu;
        display: flex;
        justify-content: flex-start; /* align horizontal */
        align-items: center; /* align vertical */
        color: #FFF;
  
        // @include for-size(tablet-portrait-up){
        //   display: none;
        // }
      }
  
      &:focus,
      &:active{
        outline:0;
      }
  
  }

  /*----------------main---------------*/

main{
    grid-area:main;
    @include grid(auto, 1fr);
    grid-template-areas:
    "work-title"
    "work-details"
    "work-image"
    "work-one"
    "work-two"
    "work-three"
    "work-four"
    "work-five"
    "work-image-2"
    "work-six"
    "work-seven"
    "work-eight";
  }

  %workLayout{
    @include flex(column,center ,center);
    @include for-size(tablet-landscape-up){
      @include flex(row,space-between,center);
    }
    & {
    padding-top:30px;
    padding-bottom:30px;
    }
  }

#work-title{
  @extend %paddingContent;
  @extend %workLayout;
    grid-area: work-title;
    // padding: 0 20px;
    height:100vh;
    @include for-size(small-phone){
      // height:100%;
      @include grid(2fr 1fr,1fr);
    }    
    @include for-size(desktop-up){
      // height:100%;
      @include grid( 1fr,1fr 1fr);
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#F0F1F3;
    @include grid( 1fr,2fr 1fr);


    .bg-text{
        grid-row:1;
        grid-column: 1;
        @include flex(column,center ,left );
        align-self: left;
        justify-self:left;
        z-index: 2;
        width: auto;
        height:auto;
        // gap:100px;
        padding:50px;
        @include for-size(tablet-portrait-up){
          // gap:10px;
        };
        h1{
          color: #1d1d1d;
          padding:0;
          text-align: left;

        //   background: url("../Images/PeerCare_1440.png") no-repeat;
        //   font-size: 70px;
        //   background-position: center top;
        //   background-size: 600px 600px;
        //   background-attachment: fixed;
        //   -webkit-text-fill-color: transparent;
        //   -webkit-background-clip: text;
        //   background-clip: text;
          @include for-size(tablet-portrait-up){
            // font-size: 32px;
            background-size: 100% 100%;
          };
          @include for-size(tablet-landscape-up){
            font-size: 48px;
            line-height: 2.0;
            }
        }
        h2{
          padding:0;
          @extend %paddingContent;
          text-align: left;
          color:#1d1d1d;
          font-weight: 700;
          font-size:20px;
        } 
      }
      .bg-image{
        padding:50px;
        grid-row:1;
        grid-column: 2;  
        width: auto;
        height: auto;
        @include flex(column,center ,center );
        align-self: left;
        justify-self:left;
        z-index: 2;
        // figure{
        //   width:80%;
        //   height:auto;
        // }
}
        

}

 
#work-details{
  @extend %paddingContent;
  @extend %workLayout;
  @include grid(auto, 1fr 1fr 1fr);
  padding:5% 20%;
  grid-area: work-details;
  gap:30%;

    .work-detail{
      width:100%;
      height:auto;
      @include flex(column,center ,center );
      text-align: center;
      h3{
        text-transform: uppercase;
      }
      p{
        text-align: center;
      }
    }
}
    

#work-image{
  grid-area:work-image;
}

#work-image-2{
  grid-area:work-image-2;
}

#work-image, #work-image-2{
  .work-detail{  @include flex(column,center ,center );
    // padding:5% 0;
    margin:0;
    height:auto;
    width:auto;
    // background-image: url("../Images/ProtoBuilder.png");
    p{
      padding:1% 20% 0 20%;
      // @extend %paddingContent;
      @extend %workLayout;
      text-align: center;
    }}

}



    #work-one{grid-area:work-one;}
    #work-two{grid-area:work-two;}
    #work-three{grid-area:work-three;}
    #work-four{grid-area:work-four;}
    #work-five{grid-area:work-five;} 
    #work-six{grid-area:work-six;}
    #work-seven{grid-area:work-seven;}
    #work-eight{grid-area:work-eight;}






    #work-one, #work-two, #work-three,#work-four, #work-five, #work-six, #work-seven, #work-eight{
      background-color: $sectionColor;
      @extend %paddingContent;
      @extend %workLayout;
  
      // padding-left:20%;
      // padding-right:20%;
      padding:5% 20%;
      .workLinks{
        justify-self: center;
        text-align: center;

        // @include for-size(tablet-landscape-up){
        //   text-align: left;
        // }
      }
      p,a{
        text-align: left;
        
        @include for-size(tablet-portrait-up){
          text-align: justify;
          text-justify: inter-word;
        }
      }
      a{
        font-weight: bold;
        &:hover{
          color:#6c91b8;
        }
        &:visited{
          color:#cff4ff;
          &:hover{
            color:#6c91b8;
          }
        }
      }

      h2{
        // padding-top:20px;
        line-height: 1.5;
      }

      .work-text{
        width:100%;
        display: flex;
        flex-flow: column;
        gap:20px;
        // section{
        //   margin-top:15px;
        //   // margin-bottom:15px;
        // }
        // &:last-child{
        //   margin-bottom:20px;
        // }

      }
      // .work-image{
      //   width:100%;
      //   @include for-size(tablet-landscape-up){
      //   width:45%;
      //   }
      // }
    }

    /*-----------misc--------------*/

figure{
    @include flex(column,center ,center );
    padding:0;
    margin:0;
    height:auto;
    width:100%;
    img{
      width: 100%;
      height: auto;
    }
  }

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



.flex-list{
  display: flex;
  flex-flow: column;
  list-style: disc;
  padding:0;
  gap:5px;

}

.O-flex-list{
  display: flex;
  flex-flow: column;
  list-style: decimal;
  padding:0;
  gap:5px;
}

.flex-list li,.O-flex-list li,.flex-list li ul li, .flex-list li ol li,.O-flex-list li ul li, .O-flex-list li ol li {
  // display: flex; /* Keeps list structure */
  // align-items: center; /* Aligns text properly */
  list-style-position: inside; /* Ensures bullets are visible */
}

.flex-list li ul li,.flex-list li ul li, .flex-list li ol li,.O-flex-list li ul li, .O-flex-list li ol li {
  // display: flex; /* Keeps list structure */
  // align-items: center; /* Aligns text properly */
  list-style-position: inside; /* Ensures bullets are visible */
  padding-left:20px;
}

.wireframes{
  list-style: none !important;  /* Remove default bullets from nested list */
  padding: 0;
  li{
    list-style: none;
  }
li:before{
  content: "✅ "; /* Add emoji before each nested list item */
  margin-right: 5px;
}
// ul{
//   // margin-left:20px;
// }  
}



