@import 'Fontstyle';

@mixin grid($rows,$columns){
  display:grid;
  grid-template-rows: $rows;
  grid-template-columns: $columns;
}

@mixin flex($flow, $justify, $align){
  display: flex;
  flex-flow: $flow;
  justify-content: $justify; /* align horizontal */
  align-items: $align; /* align vertical */
}

%paddingContent{
padding: 0px 36.5px;

@include for-size(small-phone){
  padding: 0px 15px;
}
@include for-size(tablet-portrait-up){
  padding: 0px 80px;
}
@include for-size(tablet-landscape-up){
  padding: 0px 138px;
}
@include for-size(big-desktop-up){
  padding: 0px 139px;
}
}

$heroImageColor: #000;
$sectionColor: #fff;
$sectionAltColor: #D8E6E9;
$attentionColor: #3B6068;

html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

html{
  height:100%;
}

@mixin activeMenuLayout($active:true) {
  @if $active{
    grid-template-areas:
    "header"
    "nav"
    "main";
  }@else{
    grid-template-areas:
    "header"
    "main";
    @include for-size(tablet-portrait-up){
      grid-template-areas:
      "nav"
      "main";
    }
  }
}

body{
  @include grid(auto,1fr);
  background-color: #000;

}

.activeMenu{
  @include activeMenuLayout($active:true);
}

.inactiveMenu{
  @include activeMenuLayout($active:false);
}

/*-----------header------------*/

@mixin headerColor($active:true){
  @if $active{
    background-color: #f5f5f5;
    color:#000;
  }@else{
    background-color: #000;
    color:#fff;  
  }
}

#header{
  // -webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.5);
  // -moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.5);
  // box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.5);
  grid-area:header;
  margin-left:auto;
  margin-right:auto;
  // position: fixed;
  @include for-size(tablet-portrait-up){
    display: none;
  }
}

.dark{
  @include headerColor($active:false);
}

.light{
  @include headerColor($active:true);

}
.navbar{
  width:100%;
  height:50px;
  z-index:999;
  top: 0;



    .navbar-btn:focus,
    .navbar-btn:hover,
    .navbar-btn:active, 
    .navbar-btn {
      color: transparent; 
      text-decoration: none; 
      background-color: transparent;
      border-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding:0;
      margin:0; 
    }

    #hamburgerIcon {
      position: relative;
      top: 1px;
      display: inline-block;
      font: normal normal normal 24px/48px Ionicons;
      color:#fff;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      &.activeMenu:before{
        @include headerColor($active:true);
        content: "\f2d7";
        &:hover{
          color: #99BADD;
        }
      }
  
      &:before {
        @include headerColor($active:false);
        content: "\f394";
      }
  
      &:hover {
        color: #99BADD;
      }
  
    }

    
    .navbar-header{
      @extend %paddingContent;
      @include flex(row,flex-end , center);
      height:100%;
      widows: 100%;;
    }

    #menu-button{
      grid-area:menu;
      display: flex;
      justify-content: flex-start; /* align horizontal */
      align-items: center; /* align vertical */
      color: #000;

      @include for-size(tablet-portrait-up){
        display: none;
      }
    }

    &:focus,
    &:active{
      outline:0;
    }

}

/*-----------navigation----------*/

.active {
  // height:100%;
  @include for-size(tablet-portrait-up){
  padding-top:0;
  }
}

.inactive {
  visibility: hidden;
  height:0;
}

/*
  Nav styles
*/

nav {
 
  // height: 100%;
  // z-index:999;
 
  width:100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;

  @include for-size(tablet-portrait-up){
    position: fixed;
    z-index: 9999;
    width:100%;
    margin-top: 0;
    display: flex;
    flex-flow: row;
    overflow:hidden;
    padding-top:0;
    align-items: center;
    left:0;
  }

  ul{
    @extend %paddingContent;
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0;
    
    @include for-size(phone-only){
      padding:0;
    }

    @include for-size(tablet-portrait-up){
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      flex-flow: row;
      justify-content: flex-end;
      align-items: center;
      // padding: 0;
    }

    li{
      display: inline-block;
      margin: 0;
      list-style: none;
      text-align:left;

      @include for-size(tablet-portrait-up){
        display: flex;
        padding: 0.25em;
        margin: 0;
        list-style: none;
        justify-content: center;
        align-items: center;
        border: none;
      }

      // &:hover{
      //   // background-color: $attentionColor;
      // }

      a{
        margin-left:20px;
        color: #f5f5f5;
        text-decoration: none;
        font-weight: bold;
        line-height: 26px;
        letter-spacing: .34px;

        h3{
          padding: 1em;
          font-size:12px;
          font-weight: 600;
          // &:hover{
          //   // background-color: ;
          //   color:$attentionColor;
          //   border-bottom: $attentionColor 1px solid;
          //   // text-decoration: underline;

          // }
          @include for-size(tablet-portrait-up){
            color: #fff;
            font-size:16px !important;
            padding: 0.25em;
            border-bottom: #000 1px solid;
            &:hover{
              color:$linkColor;
              border-bottom: $linkColor 1px solid;
            }
          }
        }
      }
    }
  }
}



#menu {
  background-color: #f5f5f5;
  @include for-size(tablet-portrait-up){
    background-color: #000;

  }

  a{
    color:#fff;

  }
}

.contactLink{
  @include for-size(tablet-portrait-up){
    // margin-left:20px;
    padding: 5px 20px;
    border-radius:4px;
  background-color: $attentionColor;
  color:#fff;
  // border-bottom-right-radius: 30px;
  &:hover{
    border:none;
    background-color: $linkColor;
    color: #000;
    // text-decoration: none;
  }
}
  }

/*----------------main---------------*/

main{
  padding-top:67.25px;
  grid-area:main;
  @include grid(auto, 1fr);
  // row-gap: 50px;
  background-color:$sectionColor;
  grid-template-areas:
  "hero-image"
  "about-me"
  "skills"
  "work"
  "contact";
  // @extend %heightWidth;

/*----------hero-image-----------*/
  #hero-image{
    grid-area: hero-image;
    // background-color: $heroImageColor;
    height:100vh;
    @include for-size(small-phone){
      height:100%;
    }    
    @include for-size(desktop-up){
      height:80vh;
    }
    @include grid(1fr,1fr);
    .bg-text{
      grid-row:1;
      grid-column: 1;
      @include flex(column,center ,center );
      align-self: center;
      justify-self:center;
      z-index: 2;
      width: 100%;
      height:100%;
      h1{
        text-align: center;
        background: url("../Images/curacao.jpg") no-repeat;
        font-size: 70px;
        background-position: center top;
        background-size: 600px 600px;
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        @include for-size(tablet-portrait-up){
          font-size: 120px;
          background-size: 100% 100%;};
        @include for-size(tablet-landscape-up){
          font-size: 150px;
          line-height: 2.0;
          }
      }
      h3{
        @extend %paddingContent;
        text-align: center;
        color:$sectionColor;
        font-weight: 700;
      } 
    }
    .bg-image{
      grid-row:1;
      grid-column: 1;  
      width: 100%;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color:$heroImageColor;}
      
  }

/*-----------about me---------------*/

  #about-me{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: $sectionColor;
    grid-area:about-me;
    @extend %paddingContent;
    @include grid(auto, 1fr);
    grid-template-areas: 
    "aMTitle"
    "aMPicture"
    "aMText";
    
    @include for-size(tablet-portrait-up){
      @include grid(auto, auto);
      grid-column-gap: 5%;
      grid-template-areas: 
      "aMPicture aMTitle"
      "aMPicture aMText";    
    }


    #about-me-Title{
      grid-area:aMTitle;
      @include flex(column,center ,center );
      @include for-size(tablet-portrait-up){
      align-items: flex-start;
      }

    }
    #about-me-Image{
      grid-area: aMPicture;
      @include flex(column,center ,center );
      align-self: center;
      figure{
        height:auto;
        picture{
          @include flex(column,center ,center );
          img{
            justify-self: center;
            align-self: center;
            // border-radius:10px;
            // width: 100%;
            @include for-size(tablet-portrait-up){
              // width: 100%;
            }

            height:auto;
          }
        }
      };
    }
    #about-me-Text{
      grid-area:aMText;
      @include flex(column,center ,center );
    }
  }

/*---------skills---------------*/

  #skills{
    padding-top:50px;
    padding-bottom: 50px;
    grid-area:skills;
    background-color: $sectionColor;
    @extend %paddingContent;
    @include flex(column,center ,center );

    .skillContainer{
      width:100%;
      @include flex(column,space-between ,center );

      @include for-size(tablet-portrait-up){
      @include flex(row,space-between ,flex-end );
      }

      #wireframe,
      #design,
      #development{
        @include flex(column,center ,center );
      }

    }
    .skillImage{
      height:140px;
      width:140px;
        // background-position: center;
        // background-size: 110px 140px;
      figure{
        height:100%;
        width:100%;
        @include flex(row,center ,center );
        // img{
          // width:100%;
          // height: 100%;
        // }
      }
    }
      // .Wireframes{
      //   background: url("../Images/Wireframes.svg") no-repeat;
      // }
      // .Design{
      //   background: url("../Images/Design.svg?sanitize=true") no-repeat;

      // }
      // .Development{
      //   background: url("../Images/Development.svg?sanitize=true") no-repeat;

      // }
  
    .skillText{
      h3{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }
  }

/*--------------work--------------*/

  #work{
    grid-area:work;
    @include grid(1fr repeat(3,auto), 1fr);
    // row-gap:50px;
    grid-template-areas:
    "work-title"
    "work-one"
    "work-two"
    "work-three";
  }

  %workLayout{
    @include flex(column,center ,center);
    @include for-size(tablet-landscape-up){
      @include flex(row,space-between,center);
    }
    padding-top:50px;
    padding-bottom:50px;
  }

    #work-title{
      @include flex(row,center ,center );
      background-color: $attentionColor;
      padding:20px;
      h2{color:#fff;}

    }

    #work-one{
      // padding-top:0;
      background-color: $sectionColor;
      @extend %paddingContent;
      @extend %workLayout;
    }

    #work-two{

      background-color: $sectionAltColor;
      @extend %paddingContent;
      @extend %workLayout;
      @include for-size(tablet-landscape-up){
        @include flex(row-reverse,space-between ,center);
      }

    }

    #work-three{

      background-color: $sectionColor;
      @extend %paddingContent;
      @extend %workLayout;

    }

    #work-one, #work-two, #work-three{
      .workLinks{
        margin-top:10px;
        justify-self: center;
        text-align: center;

        @include for-size(tablet-landscape-up){
          text-align: right;
        }
        .siteLink{
          // margin-top:25px;
          border-left: solid 1px $attentionColor;
          padding-left:1%;
        }
      }
      p,a{
        text-align: center;
        
        @include for-size(tablet-portrait-up){
          text-align: justify;
          text-justify: inter-word;
        }
      }


      .work-text{
        width:100%;
        @include for-size(tablet-landscape-up){
          width:45%;
        }
      }
      .work-image{
        width:100%;
        @include for-size(tablet-landscape-up){
        width:45%;
        }
      }
    }



/*--------------contact-----------------*/

  #contact{
    grid-area:contact;
    @include flex(column,center ,center);
    background-color: $attentionColor;
    @extend %paddingContent;
    padding-bottom: 20px;
    padding-top: 20px;
    

    h2{
      text-align: center;
      color:#fff;
      line-height: 2.5;
    }
    h3{
      text-align: center;
      color:#fff;
      font-weight: 700;
      font-size:18px;
      line-height: 2.0;
    }

    #contact-icons{
      padding-top:20px;
      width:100%;
      @include flex(row,space-between,center);

      a{
        color:#fff;
        &:hover{
            color:$linkColor;
          }
        
      }
      ion-icon{
        font-size: 24px;
      }
      @include for-size(tablet-portrait-up){
        width:20%;
      }
    }
  }
}

/*-----------misc--------------*/

figure{
  @include flex(column,center ,center );
  padding:0;
  margin:0;
  height:auto;
  width:100%;
  img{
    width: 100%;
    height: auto;
  }
}

